<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Validate your inputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Regular Expression</ion-label>
      <ion-input
        type="text"
        [ngModel]="regexp()"
        (ngModelChange)="regexp.set($event)"
        (ionInput)="firstName.reset()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Enter your text</ion-label>
      <app-custom-input
        [regexp]="regexp()"
        [formControl]="firstName"
      ></app-custom-input>
    </ion-item>
  </ion-card>
  <ion-card>
    @if(firstName.touched){
    <ion-item>
      <ion-icon
        slot="start"
        size="large"
        name="checkmark-circle-outline"
        color="success"
      ></ion-icon>
      Filtered input: {{ firstName.value }}
    </ion-item>
    }
  </ion-card>
  <ion-input> </ion-input>
</ion-content>
